# General
.DS_Store

# Node
node_modules

# Thumbnails
._*

# Yarn
yarn-error.log

# PHPStorm
.idea/
.idea_modules/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix